body {
    height: 100%;
    display: grid;
}

.bg {
    background-image: url('test.jpg');
    background-size: 100%, 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
}
@media only screen and (max-width: 700px){

    .card-bg {
        padding-top: 1%;
        padding-bottom: 1%;
        padding-right: 1%;
        padding-left: 1%;
    }
}

.centered {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

/* change to start button or sth */
.btnn {
    background-color: black;
    color: white;
    border-width: 2px;
    border-color: white;
    min-width: 300px;
    min-height: 35px;
    position: relative;
    z-index: 0;
}

.btn {
    opacity: 1;
}

.card-bg {
    padding-top: 3%;
    padding-bottom: 3%;
    padding-right: 3%;
    padding-left: 3%;
    opacity: 0.85;
}
