{% extends "debt/base.html" %}
{% block content %}
<div class="card card-bg">

    {% if ascreditor %}
        <h1>They owe me:</h1>
        {% for debt in ascreditor  %}
            <h2><a href="{% url 'user-detail' debt.debtor.id %}">{{ debt.debtor }}</a> {{ debt.amount }} for 
            <a href="{% url 'debt-detail' debt.id %}">{{ debt.title }}</a></h2>
        {% endfor %}
    {% endif %}

    {% if ascreditor %}
        <h1>I owe them:</h1>
        {% for debt in asdebtor  %}
        <h2><a href="{% url 'user-detail' debt.creditor.id %}">{{ debt.creditor }}</a> {{ debt.amount }} for 
            <a href="{% url 'debt-detail' debt.id %}">{{ debt.title }}</a></h2>
        {% endfor %}
    {% endif %}
    
</div>
{% endblock content %}