{% extends "debt/base.html" %}
{% block content %}
<div class="card card-bg">
    {% if ascreditor %}
    <h1>They owe me:</h1>
    <table class="table">
        <thead class="thead-dark">
          <tr>
            <th>Debtor</th>
            <th>Title</th>
            <th>Value</th>
            <th>Date</th>
            <th></th>
          </tr>
        </thead>

        <tbody> 
          {% for debt in ascreditor  %}
          <tr>
              <td><a class="mr-2" href="{% url 'user-detail' debt.debtor.id %}">{{ debt.debtor.username }}</a></td>
              <td><a class="mr-2" href="{% url 'debt-detail' debt.id %}">{{ debt.title }}</a></td>
              <td>{{ debt.amount }}</td>
              <td>{{ debt.date }}</td>
              <td><a type="button" class="btn btn-warning" href="{% url 'debt-delete' debt.id %}">Delete debt</a></td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    {% endif %}

    {% if asdebtor %}
    <h1>I owe them:</h1>
    <table class="table">
        <thead class="thead-dark">
          <tr>
            <th>Creditor</th>
            <th>Title</th>
            <th>Value</th>
            <th>Date</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          
        {% for debt in asdebtor  %}
          <tr>
            <td><a class="mr-2" href="{% url 'user-detail' debt.creditor.id %}">{{ debt.creditor.username }}</a></td>
            <td><a class="mr-2" href="{% url 'debt-detail' debt.id %}">{{ debt.title }}</a></td>
            <td>{{ debt.amount }}</td>
            <td>{{ debt.date }}</td>
            <td><a type="button" class="btn btn-warning" href="{% url 'debt-delete' debt.id %}">Delete debt</a></td>
          </tr>
        {% endfor %}
        </tbody>
      </table>
    {% endif %}
</div>
{% endblock content %}